
:root  {
  --background: 273.6 0% 95%;
  --foreground: 273.6 0% 10%;
  --card: 273.6 0% 90%;
  --card-foreground: 273.6 0% 15%;
  --popover: 273.6 0% 95%;
  --popover-foreground: 273.6 95% 10%;
  --primary: 273.6 65.6% 32%;
  --primary-foreground: 0 0% 100%;
  --secondary: 273.6 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 235.60000000000002 10% 85%;
  --muted-foreground: 273.6 0% 35%;
  --accent: 235.60000000000002 10% 80%;
  --accent-foreground: 273.6 0% 15%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 273.6 0% 90%;
  --border: 273.6 20% 50%;
  --input: 273.6 20% 35%;
  --ring: 273.6 65.6% 32%;
  --radius: 0.5rem;
}
.dark  {
  --background: 273.6 10% 10%;
  --foreground: 273.6 0% 90%;
  --card: 273.6 0% 10%;
  --card-foreground: 273.6 0% 90%;
  --popover: 273.6 10% 5%;
  --popover-foreground: 273.6 0% 90%;
  --primary: 273.6 65.6% 32%;
  --primary-foreground: 0 0% 100%;
  --secondary: 273.6 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 235.60000000000002 10% 25%;
  --muted-foreground: 273.6 0% 60%;
  --accent: 235.60000000000002 10% 25%;
  --accent-foreground: 273.6 0% 90%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 273.6 0% 90%;
  --border: 273.6 20% 35%;
  --input: 273.6 20% 35%;
  --ring: 273.6 65.6% 32%;
  --radius: 0.5rem;
}
